<div class="col-lg-12 row">
    <div class="col-lg-1">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="isChecked" [(ngModel)]="isChecked">
            <span class="custom-control-indicator"></span>
        </label>
    </div>
    <div id="parcel-{{parcel.id}}" class="panel panel-default" [ngClass]="{'col-lg-3': !isCollapsed, 'col-lg-11': isCollapsed}">
        <ngb-accordion (panelChange)="accordionChange($event)">
            <ngb-panel id='parcel-accordion-{{parcel.id}}'>
                <ng-template ngbPanelTitle>
                    <div class="panel">
                        <span aria-hidden="true" class="glyphicon" [ngClass]="{'glyphicon-collapse-down': !isCollapsed, 'glyphicon-collapse-up': isCollapsed}">
                        </span> {{parcel.fileNameOfParcel}}
                    </div>
                </ng-template>
                <ng-template ngbPanelContent>
                    <ud-file-bundle-list [parcelId]='parcel.id'>
                        Loading File Bundles...
                    </ud-file-bundle-list>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <ud-distribution-list class="col-lg-8" [parcelId]='parcel.id' [parent]="this">
        Loading Distributions...
    </ud-distribution-list>
</div>