<div class="row">
    <div class="col-lg-2">
        <div class="col-lg-6">
            <a type="button"
               (click)="isEditing = !isEditing"
               [attr.aria-expanded]="!isEditing"
               attr.aria-controls="file-bundle-delete-{{fileBundle.id}}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </div>
        <div class="col-lg-6">
            <a type="button"
               (click)="isDeleting = !isDeleting"
               [attr.aria-expanded]="!isDeleting"
               attr.aria-controls="file-bundle-delete={{fileBundle.id}}">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
    </div>
    <div class="col-lg-10">
        {{fileBundle.filePath}}
    </div>
</div>
<div id="file-bundle-edit-{{fileBundle.id}}"
     [ngbCollapse]="!isEditing">
    <ud-file-bundle-edit [fileBundle]='fileBundle'
                         (canceled)='isEditing = false'>
        Loading File Bundle...
    </ud-file-bundle-edit>
</div>
<div id="file-bundle-delete-{{fileBundle.id}}"
     [ngbCollapse]="!isDeleting">
    <ud-file-bundle-delete [fileBundle]='fileBundle'
                           (canceled)='isDeleting = false'>
        Loading File Bundle...
    </ud-file-bundle-delete>
</div>