<div class="row" [ngbCollapse]="isCollapsed">
    <div class="col-lg-3 col-lg-offset-1">
        <ud-distribution-summary *ngIf='(devDistribution | async)?.id' id="distribution-{{(devDistribution | async)?.id}}" [distribution]='devDistribution | async'
            (onClick)="openHistory(parcelId, 0)">
            Loading Dev Distribution...
        </ud-distribution-summary>
    </div>
    <div class="col-lg-1">
        <div *ngIf='(devDistribution | async)?.id'>
            <button [disabled]="(qaDistribution | async)?.isPromoting" (click)="promoteDistribution(1)">
                <span class="glyphicon" [ngClass]="(qaDistribution | async)?.isPromoting ? 'glyphicon-repeat spinner' : 'glyphicon-menu-right'"></span>
            </button>
        </div>
    </div>
    <div class="col-lg-3">
        <ud-distribution-summary *ngIf='(qaDistribution | async)?.id' id="distribution-{{(qaDistribution | async)?.id}}" [distribution]='qaDistribution | async'>
            Loading QA Distribution...
        </ud-distribution-summary>
    </div>
    <div class="col-lg-1">
        <div *ngIf='(qaDistribution | async)?.id'>
            <button [disabled]="(prodDistribution | async)?.isPromoting" (click)="promoteDistribution(2)">
                <span class="glyphicon" [ngClass]="(prodDistribution | async)?.isPromoting ? 'glyphicon-repeat spinner' : 'glyphicon-menu-right'"></span>
            </button>
        </div>
    </div>
    <div class="col-lg-3">
        <ud-distribution-summary *ngIf='(prodDistribution | async)?.id' id="distribution-{{(prodDistribution | async)?.id}}" [distribution]='prodDistribution | async'>
            Loading Prod Distribution...
        </ud-distribution-summary>
    </div>
</div>
<div class="row" [ngbCollapse]="isHistoryCollapsed">
    <ud-distribution-history [distributions]="historyDistributions">
        Loading Distribution History...
    </ud-distribution-history>
</div>