<div class="col-lg-12 row" style="border-style: solid; border-color:black">
    <div class="col-lg-1">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="isChecked" [(ngModel)]="isChecked" (change)="toggleChildren()">
            <span class="custom-control-indicator"></span>
        </label>
    </div>
    <div id="segment-{{segment.id}}" class="panel-heading col-lg-3">
        {{segment.name}}
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-1 col-lg-offset-4">
                <!-- <button (click)=promoteDistributions(1)>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button> -->
            </div>
            <div class="col-lg-1 col-lg-offset-3">
                <!-- <button (click)=promoteDistributions(2)>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button> -->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 row" style="height:10pt"></div>
<ud-parcel-list [segmentId]='segment.id' [taxYear]='taxYear'>
    Loading Parcels...
</ud-parcel-list>