<table class='table'>
    <thead>
        <tr>
            <th>Release</th>
            <th>Changes</th>
            <th>Version</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let distribution of distributions | async'>
            <td>{{distribution.release}}</td>
            <td>{{distribution.changes}}</td>
            <td>{{distribution.version}}</td>
            <td>
                <input type="radio" name="radiogroup" [value]="distribution.id" [checked]="distribution.active" (change)="onSelectionChanged(distribution)">
            </td>
        </tr>
    </tbody>
</table>