<div *ngFor='let parcel of parcels | async'>
    <!-- <div class="col-lg-12 row"> -->
        <ud-parcel-detail [parcel]='parcel'>
            Loading Parcels...
        </ud-parcel-detail>
    <!-- </div> -->
</div>