﻿<div class="col-lg-12">
    Logged in as: {{currentUser.UserName}}
    <a [routerLink]="['/login']">Logout</a>
</div>
<ngb-tabset>
    <ngb-tab *ngFor='let taxYear of taxYears' title={{taxYear}}>
        <ng-template ngbTabContent>
            <div class="col-lg-12 row">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-toggle">
                        <div class="col-lg-1">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="isChecked" [(ngModel)]="isChecked" (change)="toggleChildren()">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Select All</span>
                            </label>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" (click)=promoteDistributions(1)>
                            Distribute checked to QA
                        </button>
                        <button type="button" class="btn btn-default" (click)=promoteDistributions(2)>
                            Distribute checked to Production
                        </button>
                    </div>
                </div>
            </div>
            <ud-segment-list [taxYear]='taxYear'>
                Loading Segment List...
            </ud-segment-list>
        </ng-template>
    </ngb-tab>
</ngb-tabset>