<div *ngFor='let fileBundle of fileBundles | async'
     id="file-bundle-{{fileBundle.id}}"
     class="col-lg-12 row">
    <ud-file-bundle-detail [fileBundle]='fileBundle'>
        Loading File Bundle...
    </ud-file-bundle-detail>
</div>
<div class="row">
    <div id="file-bundle-new-{{parcelId}}"
         [ngbCollapse]="!isCreating">
        <ud-file-bundle-edit [fileBundle]="newFileBundle"
                             (created)="onCreated()"
                             (canceled)="isCreating = false">
        </ud-file-bundle-edit>
    </div>
    <div class="col-lg-12">
        <a type="button"
           (click)="isCreating = !isCreating"
           [attr.aria-expanded]="!isCreating"
           attr.aria-controls="file-bundle-new-{{parcelId}}">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</div>