<a class="btn btn-default"
   type="button"
   (click)="navigateTo()">
    <div>
        <div>
            {{distribution.version}}
        </div>
        <div>
            {{distribution.release | date:'shortDate'}}
        </div>
    </div>
</a>