<div>
    <form #fileBundleEdit="ngForm"
          (ngSubmit)="onSubmit()">
        <input type="hidden"
               [(ngModel)]="fileBundle.id"
               name="id" />
        <input type="hidden"
               [(ngModel)]="fileBundle.parcelId"
               name="parcelId" />
        <div class="form-group">
            <label for="build-path-{{fileBundle.id}}">
                Build Path
            </label>
            <input type="text"
                   class="form-control"
                   id="build-path-{{fileBundle.id}}"
                   required
                   [(ngModel)]="fileBundle.buildPath"
                   name="buildPath" />
        </div>
        <div class="form-group">
            <label for="file-name-{{fileBundle.id}}">
                File Name
            </label>
            <input type="text"
                   class="form-control"
                   id="file-name-{{fileBundle.id}}"
                   required
                   [(ngModel)]="fileBundle.fileName"
                   name="fileName" />
        </div>
        <div class="form-group">
            <label for="file-path-{{fileBundle.id}}">
                File Path
            </label>
            <input type="text"
                   class="form-control"
                   id="file-path-{{fileBundle.id}}"
                   required
                   [(ngModel)]="fileBundle.filePath"
                   name="filePath" />
        </div>
        <div class="form-group">
            <label for="file-type-{{fileBundle.id}}">
                File Type
            </label>
            <select class="form-control"
                    id="file-type-{{fileBundle.id}}"
                    [(ngModel)]="fileBundle.fileType"
                    name="fileType">
                <option *ngFor="let fileType of fileTypes"
                        [ngValue]="fileType.id">
                    {{fileType.name}}
                </option>
            </select>
        </div>
        <button type="submit"
                class="btn btn-success"
                [disabled]="!fileBundleEdit.form.valid">
            OK
        </button>
        <button type="button"
                class="btn btn-warning"
                (click)="onCancel()">
            Cancel
        </button>
    </form>
</div>