<div>
    <form #fileBundleDelete="ngForm"
          (ngSubmit)="onSubmit()">
        <input type="hidden"
               [(ngModel)]="fileBundle.id"
               name="id" />
        <p>
            Delete {{fileBundle.filePath}}?
        </p>
        <button type="submit"
                class="btn btn-success">
            OK
        </button>
        <button type="button"
                class="btn btn-warning"
                (click)="onCancel()">
            Cancel
        </button>
    </form>
</div>